@import-normalize;
@import './helper';

* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: $font-hei;
  font-size: 16px;
  // line-height: 1.2;
  background: #6f6f6f;
}
button,
input {
  font: inherit;
}
.icon {
  height: 1em;
  width: 1em;
}
:focus {
  outline: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.oneLine {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 500px) {
  .rv-popup--top,
  .rv-overlay {
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.rv-picker__confirm,
.rv-dialog__confirm {
  color: #16b6ae;
}

.rv-dialog__message {
  font-size: 16px;
}
